@import "tailwindcss";

@theme {

  --color-bg: rgb(250 250 250);
  --color-surface: rgb(255 255 255);
  --color-text: rgb(17 24 39);
  --color-text-muted: rgb(36, 37, 37);
  --color-primary: rgb(0 145 255);
  --color-secondary: rgb(139 148 158);
  --color-accent: rgb(0 145 255);
  --color-border: rgb(229 231 235);
  --color-success: rgb(74 222 128);
  --color-error: rgb(233, 79, 79);
  ;
  --color-hover: rgb(243 244 246);
}

@layer base {
  body {
    @apply bg-bg text-text;
    font-family: "Roboto Mono", monospace;
  }

  .dark {
    --color-bg: rgb(184, 180, 180);
    --color-bg: rgb(25, 28, 36);
    --color-surface: rgb(16, 20, 26);
    --color-text: rgb(255 255 255);
    --color-text-muted: rgb(139 148 158);
    --color-text-assistant: rgb(201 209 217);
    --color-primary: rgb(0 145 255);
    --color-secondary: rgb(139 148 158);
    --color-accent: rgb(0 145 255);
    --color-border: rgb(33 38 45);
    --color-input: rgb(22 27 34);
    --color-hover: rgb(33 38 45);
    --color-success: rgb(74 222 128);
    --color-error: rgb(233, 79, 79);
    --color-avatar: rgb(250 211 144);
    --color-badge: rgb(28 33 40);
  }
}

/* Add to index.css */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-bounce-slow {
  animation: bounce-slow 2s ease-in-out infinite;
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-300 {
  animation-delay: 300ms;
}

.delay-500 {
  animation-delay: 500ms;
}

.delay-1000 {
  animation-delay: 1000ms;
}